.rank {
	/*margin-left: 20%;*/
	display: flex;
	justify-content: center;
}

.data {
	width: 100%;
	display: flex;
	justify-content: center;
}

.flag img {
	width: 200px;
}

.medalwrapper {
	width: 120px;
	float: left;
}

#medalpic {
	height: 80px;
	vertical-align: middle;
	text-align: center;
}

#medalpic img {
	width: 75px;
}

#amount {
	text-align: center;
	font-family: "microsoft sans serif";
	font-size: 30px;
}

